html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    margin: 0;
}

.title {
    font-size: 84px;
    font-weight: 200;
    margin-top: 200px;
}

.text-allowable {
    color: #fff;
    background-color: #28a745;
}

.text-forbidden {
    color: #fff;
    background-color: #dc3545;
}

.text-necessary {
    color: #fff;
    background-color: #007bff;
}
